
*.vsidx
*.lock
*.tlog
Callisto/x64
Callisto/.vs/Callisto/v17/.suo
Callisto/.vs/Callisto/v17/Browse.VC.db
Callisto/.vs/Callisto/v17/Browse.VC.db-shm
Callisto/.vs/Callisto/v17/Browse.VC.db-wal
Callisto/.vs/Callisto/v17/Browse.VC.opendb
Callisto/.vs/Callisto/v17/ipch/AutoPCH/64b4082be6e55751/MAIN.ipch
Callisto/x64/Debug/Callisto.exe
Callisto/x64/Debug/Callisto.exe.recipe
Callisto/x64/Debug/Callisto.ilk
Callisto/x64/Debug/Callisto.log
Callisto/x64/Debug/Callisto.pdb
Callisto/x64/Debug/Callisto.vcxproj.FileListAbsolute.txt
Callisto/x64/Debug/glad.obj
Callisto/x64/Debug/main.obj
Callisto/x64/Debug/vc143.idb
Callisto/x64/Debug/vc143.pdb
*.ipch
